<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>719457021864-tb8h7jbdaa7h1qbj5nauuku0ccki12v2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.719457021864-tb8h7jbdaa7h1qbj5nauuku0ccki12v2</string>
	<key>API_KEY</key>
	<string>AIzaSyDjHISCBvZL7iOyklhHtzi36cDAliZytnc</string>
	<key>GCM_SENDER_ID</key>
	<string>719457021864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lmdSoftware.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-2ec95</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-2ec95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:719457021864:ios:aa50bea13e4990d0</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-2ec95.firebaseio.com</string>
</dict>
</plist>